<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }, html: { class: "devise-form"}) do |f| %>
  <h1 class="login--title">Login</h1>

    <%= f.input :email, label: false,
                placeholder: 'Email address',
                input_html: { class: "devise-input", autocomplete: "email" },
                wrapper_html: { class: "devise-wrapper" } %>

    <%= f.input :password, label: false,
                placeholder: 'Password',
                input_html: { class: "devise-input", autocomplete: "current-password" },
                wrapper_html: { class: "devise-wrapper" } %>

    <%= f.button :submit, "Login to your account", class: "devise-submit" %>

    <p class="devise-account">Don't have an account? <span><%= link_to 'Sign up', new_registration_path(resource_name) %></span></p>
<% end %>
